// Local credentials (git-ignored, do not commit)
USER_ACCESS_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbGllbnRfdXNlcl9hYjQ5ZDBkNS0xZjczLTQ0ZDEtODA2OC1lYzA5MTlkOGI4ZGEiLCJhdWQiOiIiLCJleHAiOjE3NzkzMzE5NjIsImlhdCI6MTc3ODcyNzE2MiwiY2xpZW50X2lkIjoiY2xpZW50XzE4YTYzNjkxLTA4YjktNDQyMS1hN2QwLTIwZDk5NGY5NDY2YSIsInR5cGUiOiJhY2Nlc3NfdG9rZW4iLCJ1c2VyX2lkIjoidGVzdF9wYXJ0bmVyX3VzZXJfdXNfcGxhdWQifQ.c7q2yV7Unxn802qHZ9aBD5BxrgKWqNzmjVZjXHb5SYY
PLAUD_CLIENT_ID = client_18a63691-08b9-4421-a7d0-20d994f9466a
PLAUD_API_KEY = ak_4D2QphhIzbG8G_0uqMSEp9HOdhzfs-z7DAQbfTW3-ho
